# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\NguyenCongPC\Desktop\C Language\thuc tap\bai1\untitled\.idea/dataSources/
/dataSources.local.xml
.idea/
# Editor-based HTTP Client requests
/httpRequests/
